* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: teal;
  align-items: center;
  position: sticky;
  top: 0;
  height: 35px;
}

.navbar img {
  width: 50%;
  display: flex;
}

.logo {
  width: 30%;
}

.list ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
}

.list ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: yellow;
}
body {
  height: 5000px;
}

.container {
  width: 80%;
  margin: auto;
}

.portfolio {
  text-align: center;

  background-color: aqua;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-top: 20px;
}

.portfolio-item {
  width: 33.33%;
  padding: 5px;
}

.portfolio-item img {
  display: flex;
  width: 100%;
}
